<h2>Game setup</h2>
<form class="bordered">
    <label for="players">Total number of players:</label>
    <app-number-input
            id="players"
            [value]="form.players"
            (valueChange)="form.players = $event; onChange()">
    </app-number-input>
    <label for="wolves">Number of wolves:</label>
    <app-number-input
            id="wolves"
            [value]="form.wolves"
            (valueChange)="form.wolves = $event; onChange()">
    </app-number-input>
    <label for="guards">Number of guards:</label>
    <app-number-input
            id="guards"
            [value]="form.guards"
            (valueChange)="form.guards = $event; onChange()">
    </app-number-input>
    <label for="healers">Number of healers:</label>
    <app-number-input
            id="healers"
            [value]="form.healers"
            (valueChange)="form.healers = $event; onChange()">
    </app-number-input>
    <!--
    <label for="princes">Number of princes:</label>
    <app-number-input
            id="princes"
            [value]="form.princes"
            (valueChange)="form.princes = $event; onChange()">
    </app-number-input>
    <label for="masons">Number of masons:</label>
    <app-number-input
            id="masons"
            [value]="form.masons"
            (valueChange)="form.masons = $event; onChange()">
    </app-number-input>
    -->
    <label for="masons">Number of scouts:</label>
    <app-number-input
            id="scouts"
            [value]="form.scouts"
            (valueChange)="form.scouts = $event; onChange()">
    </app-number-input>
    <!--
    <label for="lycans">Number of lycans:</label>
    <app-number-input
            id="lycans"
            [value]="form.lycans"
            (valueChange)="form.lycans = $event; onChange()">
    </app-number-input>
    -->
</form>
<app-team-roles></app-team-roles>