@font-face {
  font-family: 'Lugrasimo';
  src: url('./assets/fonts/lugrasimo-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/roboto-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Roboto, sans-serif;
}

h1, h2 {
  font-family: Lugrasimo, serif;
}

form>div {
  padding: 0.5em;
  width: fit-content;
  display: flex;
  justify-content: space-between;
}

form>div>label {
  padding: 1em;
  align-self: center;
}

form>div>input {
  width: 2em;
  font-size: 1.5em;
}
